body {
    height: 100%;
    font-size: 87.5%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #252e35;
    line-height: 1.5em;
    background: #f6f6f6;
}

.logo {
    float: left;
}

.header {
    height: 55px;
    background-color: #fff;
    border-bottom: 1px solid #00aa9d;
    padding: 5px 20px;
}
